In [3]:
from cryptocmd import CmcScraper

In [10]:
scraper = CmcScraper("ETH","04-08-2010", "03-08-2020")
xrp_json_data = scraper.get_data("json")
df = scraper.get_dataframe()
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2020-08-03,371.133859,396.506992,369.336333,386.295173,1.283465e+10,4.327773e+10
1,2020-08-02,385.549871,411.228312,357.143634,370.671711,1.890974e+10,4.152232e+10
2,2020-08-01,345.798602,388.847974,343.587434,385.199719,1.404526e+10,4.314448e+10
3,2020-07-31,334.633743,348.611372,329.340937,345.554649,1.203060e+10,3.869928e+10
4,2020-07-30,318.144986,338.631190,315.751090,334.586629,1.182769e+10,3.746638e+10

In [11]:
len(df)

1824

In [12]:
df.tail()

,Date,Open,High,Low,Close,Volume,Market Cap
1819,2015-08-11,0.708087,1.131410,0.663235,1.067860,1463100.0,6.456929e+07
1820,2015-08-10,0.713989,0.729854,0.636546,0.708448,405283.0,4.281836e+07
1821,2015-08-09,0.706136,0.879810,0.629191,0.701897,532170.0,4.239957e+07
1822,2015-08-08,2.793760,2.798810,0.714725,0.753325,674188.0,4.548689e+07
1823,2015-08-07,2.831620,3.536610,2.521120,2.772120,164329.0,1.666106e+08