In [2]:
from cryptocmd import CmcScraper
import pandas as kunfu
import numpy as dragon
import pylab as p
import matplotlib.pyplot as plot
from collections import Counter
import re

import statsmodels.api as sm
import statsmodels.tsa.api as smt
import statsmodels.formula.api as smf

from sklearn.metrics import mean_squared_error

In [18]:
scraper = CmcScraper("ETH","04-08-2010", "03-08-2022")
xrp_json_data = scraper.get_data("json")
df = scraper.get_dataframe()[['Date', 'Close']]
df.head()

        Date        Close
0 2022-08-03  1618.874543
1 2022-08-02  1632.945439
2 2022-08-01  1635.195792
3 2022-07-31  1681.517319
4 2022-07-30  1695.969500

In [19]:
len(df)

2554

In [20]:
df.tail()

           Date     Close
2549 2015-08-11  1.067860
2550 2015-08-10  0.708448
2551 2015-08-09  0.701897
2552 2015-08-08  0.753325
2553 2015-08-07  2.772120

Exploratory Analysis