In [3]:
from cryptocmd import CmcScraper

In [13]:
scraper = CmcScraper("ETH","04-08-2010", "03-08-2022")
xrp_json_data = scraper.get_data("json")
df = scraper.get_dataframe()
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2022-08-03,1633.051317,1678.098258,1595.634523,1618.874543,1.678622e+10,1.972085e+11
1,2022-08-02,1634.645845,1672.629811,1567.851047,1632.945439,2.042608e+10,1.989008e+11
2,2022-08-01,1681.445563,1700.170903,1613.415966,1635.195792,1.619137e+10,1.991528e+11
3,2022-07-31,1695.884774,1745.883193,1672.612824,1681.517319,1.420074e+10,2.047717e+11
4,2022-07-30,1727.061942,1738.016892,1678.108088,1695.969500,1.557698e+10,2.065088e+11

In [14]:
len(df)

2554

In [15]:
df.tail()

,Date,Open,High,Low,Close,Volume,Market Cap
2549,2015-08-11,0.708087,1.131410,0.663235,1.067860,1463100.0,6.456929e+07
2550,2015-08-10,0.713989,0.729854,0.636546,0.708448,405283.0,4.281836e+07
2551,2015-08-09,0.706136,0.879810,0.629191,0.701897,532170.0,4.239957e+07
2552,2015-08-08,2.793760,2.798810,0.714725,0.753325,674188.0,4.548689e+07
2553,2015-08-07,2.831620,3.536610,2.521120,2.772120,164329.0,1.666106e+08

Exploratory Analysis